---
layout: default
permalink: /submission
---

<style>
	.page_wise_banner {
		background-image: url('assets/img/banner/bg-7.jpg');
		background-position: center center;
	}

</style>

{% include sections/fee.html %}

<!--  SERVICE AREA START  -->
<section class="section-padding">
	<div class="container">

		<div class="row align-items-center">
			<div class="col-lg-12 col-sm-12 col-md-12 mb-4">
				<h3 class="mb-3">Important Dates</h3>
				<ul class="about-list2 my-4">
					{% for data in site.data.importantdates %}
					<li class="mb-2">
						<i class="icofont icofont-check-circled"></i>
						{{ data }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-12 col-sm-12 col-md-12 mb-4">
				<h3 class="mb-3">Guidelines for Submission</h3>
				<p> It is possible to contribute to the conference via a poster or a short talk. Abstracts can be submitted during registration. </p>


				<ul class="about-list2 my-4">
					{% for data in site.data.guidelines %}
					<li class="mb-2">
						<i class="icofont icofont-check-circled"></i>
						{{ data }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-12 col-sm-12 col-md-12 mb-4">
				<h3 class="mb-3">Registration & Submit Your Work </h3>
				<p class="mb-4">
					Link to the conference registration & submission:
					<a
						href="https://easychair.org/my/conference?conf=comco2023">https://easychair.org/my/conference?conf=comco2023</a>
				</p>
			</div>
		</div>

		<div class="row align-items-center"> 
			<div class="col-lg-12 col-sm-12 col-md-12 mb-4">
				<h3 class="mb-3"> Code of Conduct </h3>
				<p class="mb-4">
					Here you can find the <a href="/conduct.html">code of conduct</a>.
				</p>
			</div>
		</div>
	</div>
</section>
<!--  ABOUT AREA END  -->      