<section id="footer" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="footer-widget footer-link">
					<h4>
						Sponsors<br />
					</h4>
					<!-- Add the image as a link to the sponsor -->
					<a href="https://www.dfg.de/en/" target="_blank">
						<img src="/assets/img/about/about-5.jpg" alt="Sponsor Logo" width="150">
					</a>
					<a href="https://feelspace.de/impressum/" target="_blank">
						<img src="/assets/img/about/about-6.jpg" alt="Sponsor Logo" width="150">
					</a>
					<a href="https://www.psiori.com/" target="_blank">
						<img src="/assets/img/about/about-4.jpg" alt="Sponsor Logo" width="150">
					 </a>
					 <a href="https://ausbildung.rosen-lingen.de/" target="_blank">
						<img src="/assets/img/about/about-23.jpg" alt="Sponsor Logo" width="150">
					</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-12">
				<div class="footer-widget footer-link">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/dates">Important Dates</a></li>
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-12">
				<div class="footer-widget footer-text">
					<h4>Contact & Location</h4>
					<p class="mail">
						<span>E-Mail:</span> <br />
						comco@uni-osnabrueck.de<br />
					</p>
					<p>
						<span>Location: </span> {{ site.address }}
					</p>
					<!-- Add social media icons and links here -->
					<div class="social-icons">
						<a href="https://twitter.com/CompCognition?s=20" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
						<a href="#" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
						<a href="#" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
						<!-- Add more social media icons and links as needed -->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="footer-copy">
					<script>
						document.write(
							`© ${new Date().getFullYear()} <a href='https://www.ikw.uni-osnabrueck.de/en/home.html'> Institute of Cognitive Science</a>. All Rights Reserved.</a>`
						)
					</script>
				</div>
			</div>
		</div>
	</div>
</section>
