<!-- navigation.html -->
<nav>
          <ul>
            <li><a href="{{ "/" | relative_url }}">home</a></li>
            <li><a href="{{ "/projects" | relative_url }}">projects</a></li>
            <li><a href="{{ "/collaboration" | relative_url }}">working with us</a></li>
            <li><a href="{{ "/writing" | relative_url }}">scientific writing</a></li>
            <li><a href="{{ "/data" | relative_url }}">data analysis and management</a></li>
            <li><a href="{{ "/practical" | relative_url }}">practical matters</a></li>
            <li><a href="{{ "/forum" | relative_url }}">science forum</a></li>
            <!-- Add more navigation items as needed -->
          </ul>
        </nav>
        